[{:db/ident       :user/id
  :db/valueType   :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/unique      :db.unique/identity
  :db/doc         "UUID user's"}

 {:db/ident       :user/email
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique      :db.unique/identity
  :db/doc         "Email user's"}

 {:db/ident       :user/password
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc         "User's password (hashed)"}

 {:db/ident       :user/first-name
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc         "User's first name"}

 {:db/ident       :user/last-name
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc         "User's last name"}

 {:db/ident       :user/email-confirmed?
  :db/valueType   :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db/doc         "Whether the user has confirmed their email address."}

 {:db/ident       :user/email-confirmation-token
  :db/valueType   :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/doc         "A token sent to the user to confirm their email address."}

 {:db/ident       :user/email-confirmation-token-expires-at
  :db/valueType   :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc         "The expiry date for the email confirmation token."}

 {:db/ident       :user/created-at
  :db/valueType   :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc         "User creation timestamp"}
 
 {:db/ident       :user/refresh-token
  :db/valueType   :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/doc         "A token refresh."}

{:db/ident :user/roles
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many
 :db/doc "Roles user"}

 {:db/ident :user/favorite-categories
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many
 :db/doc "Favorite user categories"}

{:db/ident :user/permissions
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many
 :db/doc "Permissions user"}
 
 {:db/ident       :user/otp
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc         "A token sent to the user to reset password."}
 
 {:db/ident       :user/otp-expires-at
  :db/valueType   :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc         "The expiry date for the email confirmation otp."}]
