APP_ENV=local

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

HOST="http://localhost"
PORT=3000

DB_NAME=

DATOMIC_SYSTEM=
DATOMIC_STORAGE=

JWT_SECRET=

BUCKET=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
