APP_ENV=dev

EMAIL_HOST="smtp.marketplace.com"
EMAIL_PORT=
EMAIL_USER="example@marketplace.com"
EMAIL_PASS=
EMAIL_FROM="example@marketplace.com"

HOST="http://localhost"
PORT=3000

DB_HOST=localhost
DB_USER=
DB_PASS=

JWT_SECRET=ds9v7x@92Hksn28
