[
 {:db/ident :auth/user
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/isComponent true
  :db/doc "Link for :user/id"}

 {:db/ident :auth/password-hash
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :auth/verification-token
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :auth/password-reset-token
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :auth/password-reset-token-expires-at
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one}

 ;; -- Blacklisted Tokens
 {:db/ident :auth/blacklisted-token
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one
  :db/doc "Stores the JTI of a blacklisted JWT."}

 ;; -- Refresh Tokens
 {:db/ident :auth/refresh-token
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one
  :db/doc "Stores the JTI of a valid refresh token."}
]
