[
 {:db/ident :user/created-at
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one}

 {:db/ident :user/updated-at
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/noHistory true}

 {:db/ident :user/deleted-at
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one}
]
