{:http-port 8080
 :datomic
 {:db-uri "datomic:dev://localhost:8998/shum"}
 :web-server 
 {:port #long #env PORT
  :host #env HOST}
 :jwt-secret "dev-secret"
 :email {:host   #env EMAIL_HOST
         :port   #long #env EMAIL_PORT
         :user   #env EMAIL_USER
         :pass   #env EMAIL_PASS
         :from   #env EMAIL_FROM
         :tls    true}}
