{:http-port 8080
 :datomic {:server-type :dev-local
           :system "marketplace"
           :storage-dir "/var/datomic"
           :db-name "shum"}
 :email {:host "#profile {:env \"EMAIL_HOST\"}"
         :port "#profile {:env-type \"int\" :env \"EMAIL_PORT\"}"
         :user "#profile {:env \"EMAIL_USER\"}"
         :pass "#profile {:env \"EMAIL_PASS\"}"
         :from "#profile {:env \"EMAIL_FROM\"}"}
 :app {:base-url "#profile {:env \"BASE_URL\"}"}}
