{:datomic
 {:server-type :peer-server
  :access-key "shum_access"
  :secret "shum_secret"
  ;; 'datomic' is the service name from docker-compose.yml
  :endpoint "datomic:8998"
  :db-name "shum"}

 :web-server
 {:port 4000}

 :jwt-secret "#env JWT_SECRET"

 :email {:host   "#env EMAIL_HOST"
         :port   #long #or [#env EMAIL_PORT 587]
         :user   "#env EMAIL_USER"
         :pass   "#env EMAIL_PASS"
         :from   "#or [#env EMAIL_FROM \"no-reply@marketplace.com\"]"
         :tls    #boolean #or [#env EMAIL_TLS true]}

 :app {:base-url "#env BASE_URL"}}
