{:http-port 8080
 :datomic
 {:db-uri #join
           ["datomic:sql://shum-test?jdbc:postgresql://"
            #env DB_HOST
            ":5432/marketplace?user="
            #env DB_USER
            "&password="
            #env DB_PASS
            "&ssl=true&sslmode=require"]}

 :web-server 
 {:port #long #or [#env PORT 4000]
  :host #or [#env HOST "localhost"]}

 :jwt-secret #or [#env JWT_SECRET "test"]

 :email {:host   #or [#env EMAIL_HOST "localhost"]
         :port   #long #or [#env EMAIL_PORT 1025]
         :user   #or [#env EMAIL_USER "test"]
         :pass   #or [#env EMAIL_PASS "test"]
         :from   #or [#env EMAIL_FROM "test@example.com"]
         :tls    true}}
