:db {:spec {:dbtype "postgresql"
              :host #or [#env DB_HOST "localhost"]
              :port #or [#env DB_PORT 5432]
              :dbname #or [#env DB_NAME "marketplace_test"]
              :user #or [#env DB_USER "marketplace_user"]
              :password #or [#env DB_PASS "marketplace_password"]}}

:http-port 8080
:web-server 
 {:port #long #or [#env PORT 4000]
  :host #or [#env HOST "localhost"]}

:jwt-secret #or [#env JWT_SECRET "test"]

:email {:host   #or [#env EMAIL_HOST "localhost"]
        :port   #long #or [#env EMAIL_PORT 1025]
        :user   #or [#env EMAIL_USER "test"]
        :pass   #or [#env EMAIL_PASS "test"]
        :from   #or [#env EMAIL_FROM "test@example.com"]
        :tls    true}
