name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: ["*"]

jobs:
  build:
    environment: test
    runs-on: ubuntu-latest

    env:
      ACTIVEMQ_BROKER_URL: tcp://activemq:61616
      APP_ENV: ${{ vars.APP_ENV }}
      PORT: ${{ vars.PORT }}
      HOST: ${{ vars.HOST }}
      EMAIL_PORT: ${{ vars.EMAIL_PORT }}
      EMAIL_HOST: ${{ vars.EMAIL_HOST }}
      EMAIL_USER: ${{ vars.EMAIL_USER }}
      EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
      EMAIL_FROM: ${{ vars.EMAIL_FROM }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      DB_HOST: ${{ vars.DB_HOST }}
      DB_USER: ${{ vars.DB_USER }}
      DB_PASS: ${{ secrets.DB_PASS }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Prepare java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'

      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          cli: 1.12.1.1550
          clj-kondo: 2022.05.31
          cljfmt: 0.10.2

      - name: Cache clojure dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
            ~/.deps.clj
            .cpcache
          key: cljdeps-${{ hashFiles('deps.edn') }}
          restore-keys: cljdeps-

      - name: Run test DB migrations
        run: clojure -X:migrate

      - name: Run clj-kondo lint
        run: clj-kondo --lint src test

      - name: Run cljfmt check
        run: cljfmt check

      - name: Print APP_ENV
        run: echo $APP_ENV

      - name: List config files
        run: ls -l config

      - name: Run tests
        run: clojure -T:build test

  prod-migrate:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Prepare java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'
      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          cli: 1.12.1.1550
      - name: Run prod DB migrations
        env:
          APP_ENV: ${{ vars.APP_ENV }}
          PORT: ${{ vars.PORT }}
          HOST: ${{ vars.HOST }}
          EMAIL_PORT: ${{ vars.EMAIL_PORT }}
          EMAIL_HOST: ${{ vars.EMAIL_HOST }}
          EMAIL_USER: ${{ vars.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          EMAIL_FROM: ${{ vars.EMAIL_FROM }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          DB_HOST: ${{ vars.DB_HOST }}
          DB_USER: ${{ vars.DB_USER }}
          DB_PASS: ${{ secrets.DB_PASS }}
        run: clojure -X:migrate
