name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      APP_ENV: ${{ vars.APP_ENV }} 
      PORT: ${{ vars.PORT }}
      HOST: ${{ vars.PORT }}
      EMAIL_PORT: ${{ vars.EMAIL_PORT }}
      EMAIL_HOST: ${{ vars.EMAIL_HOST }}
      EMAIL_USER: ${{ vars.EMAIL_USER }}
      EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
      EMAIL_FROM: ${{ vars.EMAIL_FROM }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      DB_HOST: ${{ vars.DB_HOST }}
      DB_USER: ${{ vars.DB_USER }}
      DB_PASS: ${{ secrets.DB_PASS }}

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Prepare java
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '11'

    - name: Install clojure tools
      uses: DeLaGuardo/setup-clojure@13.4
      with:
          # Install just one or all simultaneously
          # The value must indicate a particular version of the tool, or use 'latest'
          # to always provision the latest version
          cli: 1.12.1.1550               # Clojure CLI based on tools.deps
          # lein: 2.9.1                  # Leiningen
          # boot: 2.8.3                  # Boot.clj
          # bb: 0.7.8                    # Babashka
          clj-kondo: 2022.05.31        # Clj-kondo
          cljfmt: 0.10.2               # cljfmt
          # cljstyle: 0.16.626           # cljstyle
          # zprint: 1.2.3                # zprint

    - name: Cache clojure dependencies
      uses: actions/cache@v3
      with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
            ~/.deps.clj
            .cpcache
          # List all files containing dependencies:
          key: cljdeps-${{ hashFiles('deps.edn') }}
          restore-keys: cljdeps-

    - name: Run clj-kondo lint
      run: clj-kondo --lint src test

    - name: Run cljfmt check
      run: cljfmt check

    - name: Print APP_ENV
      run: echo $APP_ENV
    
    - name: List config files
      run: ls -l config

    - name: Run tests
      run: clojure -T:build test
